{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Daftar Warga</title>
    <link rel="stylesheet" href="{% static 'warga/style.css' %}">
</head>
<body>

<header>Daftar Warga</header>

<div class="menu-links">
    <a href="{% url 'warga-tambah' %}">+ Tambah Warga Baru</a>
    <a href="{% url 'pengaduan-tambah' %}">+ Tambah Pengaduan Baru</a>
</div>

<ul>
{% for warga in object_list %}
    <li><a href="{% url 'warga-detail' warga.pk %}">{{ warga.nama_lengkap }}</a></li>
{% empty %}
    <li>Belum ada data warga.</li>
{% endfor %}
</ul>

</body>
</html>


